
<div>
<div id="left-content">
<div class="debate-argument">
<div class="debate-listings">
<div class="debate-argument-title-background">
<h2>Freeze</h2>
</div>
<div class="argument-form-inner">
<div class="argument-form-wrapper">
<div style="padding-left:10px;"><br />
<form action="/tree/savetopic" method="post">
<table width="0" border="0" cellspacing="0" cellpadding="0">
<tr>


<td ><div style="color:#99CC00;"><bold>Your Freeze action has been Completed.</bold></div></td>
</tr>
<tr>
<td>
<a href="/debates/<%= @pid%>" >Back </a>
</td>
</tr>
</table>
<center></center>
<table>
    

</table>

</form>
</div>
<div style="padding-right:10px;clear:both;"><br />
  
</div>
</div>
      </div>
</div>
</div>
<div class="debate-listing-inner-footer"></div>
</div>
<div class="debate-listing-footer"></div>

                            </div>



