#flash {
/*  margin:auto;*/
/*  width:846px;*/
/*  width: auto;*/
  padding:5px 20px 5px 20px;
  position:fixed;
  top: 11%;
  width:35%;
  z-index:1000000;
  left:30%;
}

#flash_info, #flash_notice, #flash_warning, #flash_error {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

#flash_info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('/images/flash/info.png');
}

#flash_notice {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('/images/flash/notice.png');
}

#flash_warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('/images/flash/warning.png');
}

#flash_error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('/images/flash/error.png');
}
/* flash end*/

.details {
  padding-top:30px;
}

#right-column h3, #right-column h3 a, div#join h2, div#create h2, div#invite h2 {
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif;
}

#header-navigation-content dd, div.go-button, #invite-community, #start-debate,
#find-a-debate h2, #create-debate h2,  div#join h1, div#create h1, div#invite h1, div#join h2, div#create h2, div#invite h2, #footer-leftmost-content h3,
#right-column h3, #right-column h3 a {
	text-transform:uppercase;
}

body, div#join h2, div#create h2, div#invite h2, div#join p, div#create p, div#invite p, #enter-search-topic input, div#invite-community div a, #right-column p, #right-column h3, #right-column h3 a, dl#links dl dd a:link, dl#links dl dd a:visited, dl#links dl dd a:active {
    color: #313131;
}

body, #header-navigation-content dd, div#header-meta span, div#header-meta span a, div#join p, div#create p, div#invite p, div.go-button, #enter-search-topic, #invite-community, #start-debate, #right-column p {
    font-family: Tahoma, sans-serif
}

#content-wrapper, div#main-content-bottom, div#header-meta, #div#right-content ,.shadow-right, #enter-search-topic input, input#black-circle-arrow, #links dd dl, #links dd:hover dl, #links dd.sfhover dl {
    position: absolute;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

h1, h2, h3, h6, h4 {
    font-family: Arial Narrow;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    font-weight: lighter;
}

h3 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

dl, dd {
    margin: 0;
    padding: 0;
}

dd, span {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

p {
    line-height: 16px;
}

#content-wrapper {
    margin: 0 auto;
}

#top-background {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	height: 104px;
	background-image: url(/images/header_background_fade.jpg);
	background-repeat: repeat-x;
}

div#header-wrapper {
    height: 104px;
    width: 100%;
}

#header-wrapper div {
    clear: both;
    float: left;
}

#header-title {
    top: 22px;
    left: 32px;
    position: relative;
    text-align: left;
}

div#header-meta {
    margin: 0;
    top: 10px;
    left: 650px;
    text-align: right;
}

#header-meta span.spacing {
    padding: 0 30px 0 0;
    white-space: nowrap
}

div#header-meta span, div#header-meta span a {
    color: #fff;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
}

#header-navigation-wrapper {
    margin: 0 0 0 1%;
    width: 101%;
    height: 32px;
    position: relative;
    top: -32px;
}

#header-navigation-content {
    background-color: #313131;
}

#header-navigation-left, #header-navigation-right, #header-navigation-content, #header-navigation-content-right {
    float: left;
    height: 32px;
    width: 14px;
}

div#header-navigation-content {
    width: 615px
} /* overrides the above width */
#header-navigation-right {
    background: url(/images/right.png) no-repeat;
    clear: right;
}

#header-navigation-left {
    background: url(/images/left.png) no-repeat;
    clear: left;
}

#header-navigation-content dl dd a:link, #header-navigation-content dl dd a:active, #header-navigation-content dl dd a:visited {
    color: #cbcbcb;
    text-decoration: none;
}

#header-navigation-content dl dd a:hover {
    color: #c3da0a;
}

#header-navigation-content dd {
    margin: 0 3%;
    float: left;
}

#header-navigation-content dl {
    margin: 12px 0 10px 0px;
    float: left;
}

#header-navigation-content dl#links {
}

div#header-navigation-content dd.first {
    margin-left: 0;
} /* overrides the above */
input#search {
    width: 270px;
    background-color: #fff;
    border: 0;
    color: #444444;
    font-size: 0.95em;
    padding: 3px 0pt 3px 5px
}

dl#search-form {
    margin: 10px 0 0pt 0pt;
    overflow: hidden;
}

dl#search-form dd {
    margin: 0 0 0 5px;
    float: left;
}

#header-navigation-content-right {
    width: 32%;
    background-color: #313131;
} /* overrides above */
#search-submit {
    background: url(/images/pale_white_arrow.png) no-repeat;
    height: 12px;
    width: 17px;
    margin: 3px 0 0 5px
}

#main-content-top-left, #main-content-top-right, #main-content-bottom-left, #main-content-bottom-right {
    float: left;
    height: 23px;
    width: 23px;
}

#main-content-top, #main-content-bottom {
    width: 100%;
    clear: both;
    height: 23px;
}

div#main-content-bottom {
	width: 951px;
	height: 17px;
	left: 0px;
	background-image: url(/images/gray_footer.png);
	background-repeat: no-repeat;
}

#main-content-wrapper {
    margin: 0 0 0 1%;
    width: 951px;
    position: relative;
    top: -10px;
}

#main-content-top-left {
    background: url(/images/top_left.png);
    float: left;
}

#main-content-top-right {
    background: url(/images/top_right.png);
    float: right;
}

#top-center, #bottom-center {
    background-color: #e5e2e2;
    width: 905px;
    height: 23px;
    float: left;
}

#main-content h2 span {
    color: #40b3d8;
    font-size: 22px;
    width: 650px;
}

#main-content h2 {
    padding: 0;
    margin: 0 0 15px 0;
}

div#main-content {
    background-color: #e5e2e2;
    padding: 0pt 0pt 0pt 15px;
    overflow: hidden;
		min-height: 500px;
}

#left-content {
    width: 710px;
}

#footer-leftmost-content h3 {
    font-size: 11px;
    padding: 11px 0;
    color: #fff;
    font-weight: normal;
    font-family: Arial;
}

#footer-wrapper {
    width: 960px;
    height: 32px;
/*    overflow: hidden;*/
    margin: 15px auto 0;
    position: relative;
    top: 10px;
    left: 10px;
}

#footer-left {
    width: 715px;
    margin: 0 1px;
    float: left;
}

#footer-right, #footer-leftmost-left, #footer-leftmost-right, #footer-leftmost-content {
    height: 32px;
    width: 15px;
    float: left;
}

#footer-leftmost-left {
    background: url(/images/footer_leftmost_left.png) no-repeat
}

#footer-leftmost-right {
    background: url(/images/footer_leftmost_right.png) no-repeat
}

#footer-leftmost-content {
	width: 665px;
	background-color: #079acd;
}

#footer-right {
    width: 230px;
} /* overrides above */
#footer-right h6 {
    font-family: Arial;
    margin: 3px 0pt 0pt 10px;
    font-weight: normal;
    color: #444;
}
.footer_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
	text-indent: 5px;
}
.footer_copyright_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 34px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}

/*
div#find-a-debate, div#create-debate { left: 45.7em;}
div#find-a-debate { top: 22px; }
#create-debate { top: 280px; }
*/

#right-content{
    position: absolute;
    top: 29px;
    left: 45.7em;
}

#right-content, #join, #create, #invite, #find-a-debate, #create-debate {
    width: 235px;
}

#find-a-debate, #create-debate {
   margin-bottom:10px;
}

#right-content, #join, #create, #invite {
    float: left;
}

#join, #create, #invite {
}

div#join h1, div#create h1, div#invite h1 {
    top: -7px;
    position: relative;
    margin: 0pt 0pt 0pt 2px;
    height: 55px;
    font-size: 36px;
    color: #fff;
    padding: 0 0pt 0pt 40px;
    background: url(/images/home_subheader_background.png) no-repeat;
}

div#join h2, div#create h2, div#invite h2 {
    font-style: normal;
    line-height: 18px;
    margin: 0pt 0pt 3px 5px;
    width: 150px;
    font-size: 1.05em
}

div#join p, div#create p, div#invite p {
    overflow: hidden;
    font-size: 11px;
    width: 150px;
    margin: 0pt 0pt 0pt 10px
}

div#invite-community {
    position: relative;
    top: -40px;
}

div#enter-search-topic {
    position: relative;
    top: -40px;
}

div.search_result {
   padding-bottom: 7px;
   font-size: 11px;
}

div.go-button {
    margin: 0 auto;
    padding: 15px 0;
    background: url(/images/go_button.png) no-repeat;
    width: 76px;
    height: 76px;
    position: relative;
    top: -40px;
    left: 76px;
    text-align: center;
    font-size: 36px;
}

div.go-button a {
    color: #fff;
    text-decoration: none;
}

.shadow-right {
    background: url(/images/content_background.jpg) repeat-y;
    height: 100%;
    width: 25px;
    top: -180px;
    left: -5px;
    margin: 0pt 0pt 0pt 190px
}

.shadow-bottom {
    background: url(/images/shadow_bottom.png) no-repeat;
    width: 214px;
    height: 31px;
    overflow: visible;
    position: relative;
    top: 0px;
}

.content-background {
    background:transparent url(/images/content_background.jpg) repeat-y scroll 0 0;
    height:100%;
    left:0;
    margin:-7px 0 0 0.24em;
    padding:5px 0 0 5px;
    position:relative;
    width:210px;
}

#enter-search-topic, #invite-community, #start-debate {
    left: -5px;
    font-size: 15px;
    position: relative;
    margin: 0 0pt 0pt 10px;
    width: 205px;
    height: 30px;
}

#enter-search-topic input {
    border: 1px solid #000;
    background-color: #fff;
    width: 150px;
    padding: 6px;
}

input#black-circle-arrow {
    border: 0;
    height: 34px;
    width: 34px;
    background: transparent;
    left: 170px;
    top: -10px;
}

#start-debate a {
    color: #fff;
    text-decoration: none;
}

#start-debate {
    position: relative;
    top: -40px;
    left: -5px;
    overflow: hidden;
    height: 18px;
    padding: 5px 0px 8px 10px;
    background-color: #313131;
}

#invite-community div {
    float: left;
    border-left: solid 1px #000;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    height: 29px;
    background-color: #fff;
}

div#invite-community div a {
    padding: 5px;
    text-decoration: none;
    position: relative;
    top: 4px;
}

#invite-community .white-south-arrow {
    border: 0;
    background: url(/images/white_south_arrow.png) no-repeat;
    height: 31px;
    width: 31px;
}

#find-a-debate h2, #create-debate h2 {
    margin: 0;
    font-size: 25px;
    background: url(/images/find_debate_top.png) no-repeat;
    padding: 8px 20pt 0pt 24px;
    height: 46px;
    width: 200px;
    color: #fff;
}

#right-column p {
    font-size: 11px;
    padding: 2px 11px 2px 11px;
}

#right-column {
    width: 232px;
    left: 1px;
    background-color: #e4f8ff;
    position: relative;
    top: 0px;
    border-right: 1px solid #069bcc;
    border-left: 1px solid #069bcc;
    padding: 10px 0px 10px;
}

#right-column h3, #right-column h3 a {
    text-decoration: none;
    padding: 2px 11px 2px 11px;
    font-size: 12px;
}

.extra-background-stretch {
    background-color: #e6e2e3;
    height: 60px;
    width: 950px;
}

#right-column-footer {
    position: relative;
    left: 1px;
    background: url(/images/right_column_footer.png) no-repeat;
    height: 10px;
    width: 234px;
}
/*drop down menu css*/
#links, #links dl { /* all lists */
    padding: 0;
    margin: 0;
    line-height: 1;
}

#links a {
    display: block;
}

#links dd { /* all list items */
    float: left;
    margin: 0 20px;
    height: 20px;
}

.submenu {
}

#links dd dl { /* second-level lists */
    width: 10em;
    top: 32px;
    z-index: 1000;
    left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
    background: #c3da0a url(/images/dropdown_background.png) repeat-x scroll 0% top;
    border: 1px solid #CCCCCC;
    padding: 0pt 0pt 20px;
}

#links dd:hover dl, #links dd.sfhover dl { /* lists nested under hovered list items */
    left: auto;
}

#content {
    clear: left;
    color: #ccc;
}

dl#links dl a:hover {
    color: #1fa5cf
}

dl#links dl dd a {
    padding: 10px 0 0 0;
    text-transform: none;
    font-size: 12px;
}

dl#links dl dd a:hover {
    color: #3eb2d2;
}
/*end of css  for dropdown*/

a.tip {
	position: relative;
	text-decoration: none;
}

a.tip span {
	display: none;
	position: absolute;
	top: -5px;
	left: 90px;
	width: 333px;
	padding: 5px;
	z-index: 100;
	background: white;
	color: navy;
	-moz-border-radius: 5px; /* this works only in camino/firefox */
	-webkit-border-radius: 5px; /* this is just for Safari */
}

a:hover.tip {
	font-size: 99%; /* this is just for IE */
}

a:hover.tip span {
	display: block;
}
		
		
		
#wrapper {
    width: 980px;
    margin: 0 auto;
    top: -104px;
    position: relative;
}
/* reset css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    line-height: 1.5;
}
/* Tables still need 'cellspacing="0"' in the markup. */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

table, td, th {
    vertical-align: middle;
}
/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}
/* Remove annoying border on linked images. */
a img {
    border: none;
}

/*end reset*/


.link_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
}
.link_txt a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #0080C0;
	text-decoration: underline;
}

.left{float:left;}
.right{float:right;}
hr {margin:2px 0 2px 0px;}
.con{margin:5px;}
.con label{width:40px;float:left;}
.user-form-edit label{width:120px;float:left;}
.user-form-edit p{margin-bottom:8px;}
.login-top{text-align:center; color:#aa1224;font-weight:bold;font-size:12px;}
#invitations{ height:100px;overflow:auto;margin: 0 8px 0 8px;}
#invitations a { text-decoration:none; }

/* CSS FOR ERROR AND NOTICE */
.error{color:#cc191d;font-weight:bold;text-align:center;}
.errorExplanation{color:#cc191d;text-align:left;}
.notice {color: #0000FF;background-color: #FFFF00;text-align:center;}
.login-or-signup{ float:left; background: url(/images/black-dot.gif) repeat-y 300px 0px; }
Div.fieldWithErrors{display:inline;}

/* embeds the openid image in the text field */
input#openid_url {
  background: url(http://openid.net/images/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}