.login {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
    
}

.login-form-wrapper {
    padding: 40px 50px ;
    width: 520px;
    height: 300px;
}

.login-form-inner {
    padding: 39px 36px 0pt 30px;
    background: url(/images/argument_form_inner.png) repeat-y;
    margin: 0pt auto;
    width: 703px;
    height: 500px;
    margin: 0 0 0 1px
}
