<a href="<%= new_debate_argument_url(debate, :parent_id => argument.id) %>"> <img src="http://<%=@host_url%>/images/red-reply-argument-button.gif" style="border:0pt none;"/></a>
<a href="<%= rating_argument_url(argument) %>" ><img src="http://<%=@host_url%>/images/Rate-This-Argument-button.gif" style="border:0pt none;"/></a>

