<div id="content_top_box">
  <p class="page_title">Edit Argument</p>
</div>
<div id="content_box" style="margin-top:-5px;">
  <%= render :partial => 'form', :locals => { :submit_action => 'Update' } %>
  <div class="clear_both"></div>
</div>
<div id="content_inner_bottom_bg"></div>
<div id="content_outer_bottom_bg"></div>

