<div id="content_top_box" style="margin-bottom:-5px;">
  <p class="page_title">New Argument</p>
</div>
<div id="content_box">
        <div class="listing-headers"><%= render_partial "shared/featured_arguments" %></div>
        <div style="height:auto;"><%= render :partial => 'form' %></div>
      <div class="clear_both"></div>
</div>
<div id="content_inner_bottom_bg"></div>
<div id="content_outer_bottom_bg"></div>
