<div id="content_top_box"><p class="page_title">Edit Profile</p></div>

<div id="content_box" style="width:618px;padding:0px 48px 0px 36px;">
  <span style="float:right;position:relative;right:20px;"><%= link_to 'back', edit_user_url(@user) %></span>

  <div class="debate-argument">
    <div class="debate-listings">
      <div class="debate-argument-title-background">
        <h2>Change Password</h2>
      </div>
      <div class="argument-form-inner">
        <div class="argument-form-wrapper">
          <%= render :partial => 'change_password_form' %>
        </div>
      </div>
    </div>
    <div class="debate-listing-inner-footer"></div>
  </div>
  <div class="debate-listing-footer"></div>   
</div>
<div id="content_inner_bottom_bg"></div>
<div id="content_outer_bottom_bg"></div>
