  <div class="draft-argument">
    <span class="draft_line">
      <%= drafts_argument_tooltip_script(argument) %>
    </span>
    <span class="draft_use_button">
      <%= use_button_link_to_remote(use_button_icon(argument), :reply,active_argument, argument) %>
      <%=use_button_tooltip_script(use_dom_id(argument))%>
    </span>
  </div>







