<% if can_edit_argument?(argument) -%>
  <% form_remote_for(:link, :url => argument_links_url(argument)) do |f| -%>
    <p style="float:left;width:400px;">
      <font size=2>External Links:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="background-color:lightyellow">add link for <%= f.text_field :url, :size => 18 %></span>
      </font>
      <%= submit_tag "add" %>
    </p>
  <% end %>
<% else -%>
    <br/>
  <p style="float:left;width:400px;">External Links: </p>
<% end -%>

<% content_tag :div, :id => external_links_dom_id(argument) do -%>
  <% argument.links(true).each do |lnk| -%>
    <%= render_link(argument, lnk) %>
  <% end -%>
<% end %>
