<div id="content_top_box"><p class="page_title" style="font-size:25px;padding-top:3px;">Contact Us</p></div>
<div id="content_box" class="post">
<table>
    <tbody>
      <tr><td><p><%= link_to  "Organization video" , page_url(:action_page => "1_Introduction") %></p></td></tr>
      <tr><td><p>Customer support email:<%= mail_to 'support@bestdebates.com', 'Support@BestDebates.com', :encode => 'hex' %></p></td></tr>
      <tr><td><p>Organizational Sales: <%= mail_to 'sales@bestdebates.com', 'Sales@BestDebates.com', :encode => 'hex' %></p></td></tr>
      <tr><td><p>Mark Lewis</p></td></tr>
      <tr><td><p>415.692.3370</p></td></tr>      
    </tbody>
</table>
</div>
<div id="content_inner_bottom_bg"></div>
<div id="content_outer_bottom_bg"></div>