<div id="content_top_box">
  <p class="page_title">New Debate</p>
</div>
<div id="content_box">
  <center>Debate started by <%= @debate.user.name %> at <%= @debate.created_at.to_s(:display) %></center><br />        
  <%= render :partial => 'form', :locals => { :submit_action => 'Update' } %>
  <div class="clear_both"></div>
</div>
<div id="content_inner_bottom_bg"></div>
<div id="content_outer_bottom_bg"></div>
