<div id="content_top_box">
  <p class="page_title">New Debate</p>
</div>
<div id="content_box">
  <%= render :partial => 'form', :locals => { :submit_action => 'Create' } %>
<div class="clear_both"></div>
</div>
<div id="content_inner_bottom_bg"></div>
<div id="content_outer_bottom_bg"></div>