<table>
  <tr><td colspan="3"><%= error_messages_for :tag %></td></tr>
  <tr>
    <td>Add Tag: </td>
    <td><%= f.text_field :name %></td>
    <td><%= submit_tag(submit_name) %></td>
  </tr> 
</table>