<table>
  <tr><td><label> Twitter UserName: </label></td><td><%= f.text_field :twitter_username %></td></tr>
  <tr><td><label> Twitter Password: </label></td><td><%= f.password_field :twitter_password %></td></tr>
</table>

