<tr><td><%= h twitter_account.twitter_username %> &nbsp;&nbsp;</td><td>

  <%= link_to 'Show', object_path(twitter_account) %>&nbsp;&nbsp;
  |</td><td>
  <%= link_to 'Edit', edit_object_path(twitter_account) %>&nbsp;&nbsp;
  |</td><td>
  <%= link_to 'Destroy', object_path(twitter_account), :confirm => 'Really destroy twitter_account?', :method => :delete %>
  </td></tr>