<p>
  Welcome to Best Debates!
</p>

<p>
  You can now contribute your knowledge and move truth forward.
  <ul>
    <li>
      See the impact of your arguments, responses and ratings instantly;
    </li>
    <li>
      Join a community of concern adding value to existing debates;
    </li>
    <li>
      Give your own community a home to clarify issues that matter;
    </li>
    <li>
      Improve your life by sorting truth from fiction;
    </li>
    <li>
      Test your prejudices to see if they survive the flames of truth;
    </li>
  </ul>
</p>

<p>
  To activate your account and go directly to Best Debates, click this link:<br />
  <%= link_to activate_url(@user.activation_code), activate_url(@user.activation_code) %>
</p>

<p style="margin-left:5px">
  Username: <%= @user.login %><br />
  Password: *hidden*
</p>

<p>
  To practice creating debates or entering, replying and rating arguments, select "Practice Debates" from the BROWSE DEBATES tab in the black header.
</p>

<p>
  Remember this is a Beta version of the site and we are continually upgrading so you can expect regular improvements.
</p>

<p>
We know your time is a valuable limited resource. Please let us know how we can make your time spent with us the best experience possible. Please contact me directly with your comments.
</p>

<p>
  Richard Friesen<br />
  CEO <br />
  Best Debates.com 
</p>

<p>
  Rich@BestDebates.com<br />
  <%= link_to 'http://BestDebates.com', 'http://www.bestdebates.com/' %>
</p>
