<p>
Hi <%= @user.name %>, 
</p>

<p>
  To reset your BestDebates password, please visit the following URL:<br />
  <%= link_to reset_password_url(@user.activation_code), reset_password_url(@user.activation_code) %>
</p>

<p>
Thank you for using our web site.
</p>

<p>
  Regards, <br />
  BestDebates Moderator
</p>
