<p>
  Welcome to Best Debates!
</p>

<p>
  You can now contribute your knowledge and move truth forward.
  <ul>
    <li>
      See the impact of your arguments, responses and ratings instantly;
    </li>
    <li>
      Join a community of concern adding value to existing debates;
    </li>
    <li>
      Give your own community a home to clarify issues that matter;
    </li>
    <li>
      Improve your life by sorting truth from fiction;
    </li>
    <li>
      Test your prejudices to see if the survive the flames of truth;
    </li>
  </ul>
</p>

<p>
  Your community can actually move a wide range of discussions forward by allowing the wisdom in your group to create, respond and rate arguments so the refined best wisdom rises to the top. 
</p>

<p>
  To go directly to the login page click this link: <%= login_url %>
</p>

<p>
  If you want to orient yourself before contributing, please read our instructions by clicking "BROWSE DEBATES" in the black header and select "Support." You can then read topics of interest. <%= category_uri_for('Support') %>
</p>

<p>
  To practice creating debates or entering, replying and rating arguments, select "Practice Debates" from the BROWSE DEBATES tab in the black header. <%= category_uri_for('Practice Debates') %>
</p>

<p>
  If you want to invite friends, create a new debate on the issue they care about, seed it with a couple of pro and con arguments and send them a copy of this invite letter with the location of your newly created debate.
</p>

<p>
  Remember this is a Beta version of the site and we are continually upgrading so you can expect regular improvements.
</p>

<p>
  We know your time is a valuable limited resource. Please let us know how we can make your time spent with us the best experience possible. Please contact me directly with your comments.
</p>

<p>
  Richard Friesen <br />
  CEO  <br />
  Best Debates.com 
</p>

<p>
  Rich@BestDebates.com <br />
  <%= link_to 'http://BestDebates.com', 'http://www.bestdebates.com/' %>
</p>
