<div>
<div id="left-content">
<div class="debate-argument">
<div class="debate-listings">
<div class="debate-argument-title-background">
<h2>Update Categories</h2>
</div>
<div class="argument-form-inner">
<div class="argument-form-wrapper">
<div style="padding-left:10px;"><br />
<div style="color:#99CC00;"><bold>Your Setting Has Been saved.</bold></div>

</br>
<a href="/joinatopic">Back</a>
</div>
<div style="padding-right:10px;clear:both;"><br />
</div>
</div>
</div>
</div>
</div>
<div class="debate-listing-inner-footer"></div>
</div>
<div class="debate-listing-footer"></div>
</div>