

<div id="content_top_box"><p class="page_title">Support</p></div>

<div id="content_box" class="post">
  <table>
    <tbody>
      <tr>
        <td>
          <p><h2><strong><%= link_to "Rating principles" , principles_url %></strong></h2></p>
        </td>
      </tr>
      <tr><td><ul type="disc">
            <li><a href="#bestdebate">Best Debates Structure</a></li>
            <li><a href="#website">The Website</a></li>
            <ul type="circle">
              <li><a href="#overview2">Overview</a></li>
              <li><a href="#bdebates">Browse Debates</a></li>
              <li><a href="#ldebates">Create Debates</a></li>
              <li><a href="#mpage">My Page</a></li>
              <ul type="square">
                <li><a href="#mbook">My Bookmarks</a></li>
                <li><a href="#mdebates"> Debates I Created </a></li>
                <li><a href="#masd">Arguments I Created</a></li>
              </ul>
              <li><a href="#support">Support</a></li>
            </ul>
            <li><a href="#sdebate">Starting a Debate</a></li>
            <li><a href="#csni">Create supporting and negating arguments
                based on logic and/or citing evidence.</a></li>
            <ul type="circle">
              <li><a href="#mrp">Make your replies powerful</a></li>
              <li><a href="#elink">Add an external link</a></li>
              <li><a href="#bdoline">Back to the debate outline</a></li>
            </ul>
            <li><a href="#rarguments">Rate existing arguments</a></li>
            <li><a href="#ndebates">Navigating Debates</a></li>
            <ul type="circle">
              <li><a href="#fdlist">Finding a debate from a list</a></li>
              <ul type="square">
                <li><a href="#mpbmark">Using My Page Bookmarks</a></li>
              </ul>
              <li>                <a href="#srch">Search</a></li>
            </ul>
            <li><a href="#navarguments">Navigating Arguments</a></li>
          </ul><td/></tr>
      <tr><td> <h2 name="overview"><strong><a name="bestdebate" id="bestdebate"></a>Best Debates Structure </strong></h2>
          <ul>
            <li>
              <p>Best Debates is a structure that invites you to
                create<strong> Interactives</strong>. Interactives are arguments,
                evidence or logic in discreet entries so that the power of each
                Interactive stands on its own and isn't diluted by additional material.</p>
            </li>
            <li>
              <p>At first, it may seem awkward to create <strong>one
                  entry per thought or fact</strong>; but as you do this you will see that
                the power of clarity leverages your best ideas, facts and logic.</p>
            </li>
            <li>
              <p> In fact, some users discover that clarity trumps
                logic and persuasion. Even the best ideas, logic and facts become lost
                when combined with other entries, reducing their power to the weakest
                link in the chain.</p>
            </li>
          </ul></td></tr>
      <tr><td>

          <h2><a name="website" id="website"></a>The Website divided into five major categories </h2>
          <ul>
            <li>
              <p> Overview</p>
            </li>
            <li>
              <p> Browse Debates</p>
            </li>
            <li>
              <p>Create Debates</p>
            </li>
            <li>
              <p> My Page</p>
            </li>
            <li>
              <p> Support</p>
            </li>
          </ul> </td></tr>
      <tr><td><p align="center"><a href="#">Top</a></p></td></tr>

      <tr><td>
          <h2 name="transition"><a name="overview2" id="overview2"></a>Overview</h2>
          <p>The Overview functions as a tutorial to illustrate the
            purpose and function of each debate element. The text in each
            Interactive explains the uses of Best Debate features. By following the
            numbered orange balloons and reading the text in each box you can:
          </p>            <ul><li>
              <p>Easily see how to find a debate. (1) </p>
            </li>
            <li>
              <p>Learn the elements of a good debate proposition by
                reading the text under the Debate Title in red. </p>
            </li>
            <li>
              <p>Find out how to make supporting arguments. (2) </p>
            </li>
            <li>
              <p>Learn how to rate arguments for acuracy, clarity and
                relevance. (3) </p>
            </li>
            <li>
              <p>Learn how to reply to existing arguments</p>
            </li>
            <li>
              <p>Learn how to create sub-arguments</p>
            </li>
            <li>
              <p>Register for your free user account. (Top right
                banner)</p>
            </li>
            <li>
              <p>Sign in and create a profile. (Top right banner)</p>
            </li>
          </ul>  </td></tr>
      <tr><td><p align="center"><a href="#">Top</a></p></td></tr>
      <tr><td><h2><a name="bdebates" id="bdebates"></a>Browse Debates</h2>
          <ul>
            <li>
              <p class="style3">Here is the place to select major
                categories for debate. If you don't see the category you are looking
                for, send an email to: info@bestdebates.com to request a new category. </p>
            </li>
            <li>
              <p> If you click on “Browse Debates” in the black
                navigation bar, you will get a list of ALL debates. </p>
            </li>
            <li>
              <p>If you click on one of the debates in the drop down
                menu, you will see only the arguments entered for that debate.</p>
            </li>
            <li>
              <p>You will also notice  a place for Suggestions and
                Support </p>
            </li>
          </ul> </td></tr><tr><td><p align="center"><a href="#">Top</a></p></td></tr>

      <tr><td>
          <h2><a name="ldebates" id="ldebates"></a>Create Debates</h2>
          <ul>
            <li>
              <p>Once you have clicked on a subject, you will see a
                list of debate topics.</p>
            </li>
            <li>
              <p>      If you hold your cursor over a particular
                debate topic, you will see a pop-up window with the argument, fact or
                logic.</p>
            </li>
            <li>
              <p>      When you click on the debate topic itself, you
                will see a list of Interactives eithersupporting or negating the
                proposition.</p>
            </li>
            <li>
              <p>      If you hold your cursor over a headline, a
                pop-up window will give you the title and the Interactive itself. </p>
            </li>
          </ul></td></tr><tr><td><p align="center"><a href="#">Top</a></p></td></tr>


      <tr><td><h2><a name="mpage" id="mpage"></a>My Page</h2>
          <p>You must create an account to gain access to My Page.
            Accounts are created from the "Join and make your voice heard" link on
            the top right of the Overview Page. Joining is simple and free. Simply
            enter your name, enter your email address, and create a user name and
            password. For now, disregard the group affiliation box. Once you are
            registered, your My Page link on the menu bar will be active. The
            following is description of the elements found on "My Page" including:
            My Bookmarks, My Debates, and My Arguments.</p>
          <h2><a name="mbook" id="mbook"></a>My Bookmarks</h2>
          <ul>
            <li>
              <p>When you click on an argument within a debate, you
                have the option to “bookmark” that argument by clicking the “Bookmark”
                link under the orange “Reply to this argument” button.</p>
            </li>
            <li>
              <p> Once clicked, this Interactive will show up in your
                list of bookmarks on “My Page.” Clicking your bookmarked arguments takes
                you immediately to that debate and allows you to continue your
                arguments. </p>
            </li>
            <li>
              <p> If you want to remove a bookmark, go to its
                underlying argument by clicking on the bookmark and click the
                “Unbookmark” link. </p>
            </li>
          </ul></td></tr>
      <tr><td><p align="center"><a href="#">Top</a></p></td></tr>

      <tr><td><h2><a name="mdebates" id="mdebates"></a>Debates I Created </h2>
          <ul>
            <li>
              <p>You can easily see the list of debates that you
                created here and go directly to them in a single click. </p>
            </li>
          </ul>            <p align="center"><a href="#">Top</a></p>
          <h2> <a name="masd" id="masd"></a>Arguments I Created </h2>
          <ul>
            <li>
              <p> Your Arguments/Interactives are sorted by date in
                order of the most current entries.</p>
            </li>
            <li>
              <p>You can go to an Interactive with a single click. </p>
            </li>
          </ul></td></tr>
      <tr><td><p align="center"><a href="#">Top</a></p></td></tr>


      <tr><td>
          <h2><a name="support" id="support"></a>Support </h2>
          <ul>
            <li>
              <p>The support page includes instructions for using this
                site. We anticipate a growing FAQ. </p>
            </li>
          </ul>
        </td>
      <tr><td>
          <h2><a name="testing" id="testing"></a><a name="sdebate" id="sdebate"></a>Starting a Debate </h2>
          <ul>
            <li>
              <p>Feel free to use the Testing 123 category to play
                with creating a new debate. There you can experiment with the different
                fields and functions and become familiar with how Best Debates works.
                Testing debates and arguments are deleted regularly.</p>
            </li>
            <li>
              <p> Click on the debate category you are interested in
                joining.</p>
            </li>
            <li>
              <p> For example, you click on “Browse Debates” and
                select “science” from the drop down menu. </p>
            </li>
            <li>
              <p> You now see a list of science debates.</p>
            </li>
            <li>
              <p> Review the list of debates to see if the debate you
                want to start already exists.</p>
            </li>
            <li>
              <p> If a heading looks similar to your intended debate,
                hold your cursor over the heading and the debate will pop up. If this is
                the topic you want to start, join this debate instead!</p>
            </li>
            <li>
              <p> If your debate isn't listed, click “CREATE NEW
                DEBATE.”</p>
            </li>
            <li>
              <p> Here you can title your debate and add a
                description. The description should be precise to narrow the topic to
                the exact focus you want in this debate.</p>
            </li>
            <li>
              <p> You can add an external link for further
                clarification. Supporting evidence for this debate should be added under
                each Interactive, not under the debate topic.</p>
            </li>
            <li>
              <p> The external link should be a link that defines or
                clarifies the debate, but does not argue or add evidence. These
                responses are better made under each Interactive.</p>
            </li>
            <li>
              <p> From the drop down menu, select a category for this
                debate. If you don't find an appropriate category for your debate, email
                us at info@bestdebates.com with your category request. </p>
            </li>
            <li>
              <p> In the "Tags" box, enter the major keywords,
                separated by comas, that this debate covers so it can be found by a
                search for that keyword. </p>
            </li>
            <li>
              <p> Then click the "CREATE" button.</p>
            </li>
          </ul></td></tr>
      <tr><td><p align="center"><a href="#">Top</a></p></td></tr>
      <tr><td><h2><a name="csni" id="csni"></a>Create supporting and negating arguments, logic and evidence) </h2>
          <ul>
            <li>
              <p> The first thing you will want to do is support your
                proposition with arguments, evidence and logic (Interactives).</p>
            </li>
            <li>
              <p> After you create a new debate, you will be presented
                with the debate heading and the debate description. You will see a link
                "Add Argument."</p>
            </li>
            <li>
              <p> Now you are in the window where you can create a new
                Interactive.</p>
            </li>
            <li>
              <p> First, determine if your Interactive supports or
                negates the debate proposition. The default argument type is"FOR"
                meaning the following argument supports the debate proposition. Since
                this is your own proposition, I hope that your arguments are supporting
                it. But in all fairness, you might choose to enter standard arguments
                against the proposition in order to dispatch them in counter-arguments.</p>
            </li>
            <li>
              <p> If this argument is AGAINST the proposition, change
                the drop down box to "Against."</p>
            </li>
            <li>
              <p> You now have the option of previewing the
                Interactive by using the "Preview" button.</p>
            </li>
            <li>
              <p> Here you can also add a link. If you like what you
                see, click the edit button, go back to the previous window and click the
                publish button.</p>
            </li>
            <li>
              <p> Once published, you have the option of replying to
                this argument with supporting or negating arguments, logic or evidence
                and working down the chain as far as you want.</p>
            </li>
          </ul></td></tr><tr><td><p align="center"><a href="#">Top</a></p></td></tr>

      <tr><td><h2><a name="mrp" id="mrp"></a>Make your replies powerful </h2>
          <ul>
            <li>
              <p>Add only one argument, piece of logic, or evidence at
                a time. This is a challenge because most of us think in multiple or
                interconnected arguments and we want to start typing and let one
                argument bleed into another.</p>
            </li>
            <li>
              <p>The value of this site is that the strength of your
                arguments isn't diluted by combining them with weaker elements.</p>
            </li>
            <li>
              <p>Keep just one argument, fact or piece of logic in
                each Interactive. </p>
            </li>
          </ul><p align="center"><a href="#">Top</a></p>
          <h2><a name="elink" id="elink"></a>Add an external link </h2>
          <ul>
            <li>
              <p>To add external links to support your entry, first
                publish the argument.</p>
            </li>
            <li>
              <p>In the next window, you will see an entry for an
                external link.</p>
            </li>
            <li>
              <p> If you have multiple links, you will be given an
                opportunity to add more after each entry.</p>
            </li>
            <li>
              <p>Currently you must enter the full URL
                http://www.domain.com. This process will be made easier soon.</p>
            </li>
          </ul></td></tr>
      <tr><td><p align="center"><a href="#">Top</a></p></td></tr>

      <tr><td><h2><a name="bdoline" id="bdoline"></a>Back to the debate outline </h2>
          <ul>
            <li>
              <p>Once you have added a new Interactive, you will see
                the heading of the parent Interactive labeled "In Debate." A click on
                this heading will bring you back to the outline list. </p>
            </li>
          </ul><p align="center"><a href="#">Top</a></p>
          <h2><a name="rarguments" id="rarguments"></a>Rate existing arguments </h2>
          <ul>
            <li>
              <p> Each debate argument entry begins with a rating
                score, an argument ID number, the author, and a "Bookmark" link. </p>
            </li>
            <li>
              <p> You can rate the ACCURACY, CLARITY AND RELEVANCE of
                this argument by clicking the blue "Rate" box to open the rating window.
              </p>
            </li>
            <li>
              <p> Simply pass you cursor over the rating stars and
                when you have reached the level of your opinion, left click the mouse.
                The rating will stay.</p>
            </li>
            <li>
              <p> Review your judgments and when ready click "SAVE
                RATING."</p>
            </li>
            <li>
              <p> You will note  the message "SAVED" along with your
                score.</p>
            </li>
            <li>
              <p> You can still adjust your rating at any time and
                click the save button again to see your rating change.</p>
            </li>
            <li>
              <p> When you are done, click the "Close" button..</p>
            </li>
            <li>
              <p> The new score on the argument will show up after you
                have refreshed the browser page. </p>
            </li>
          </ul></td></tr>
      <tr><td><p align="center"><a href="#">Top</a></p></td></tr>

      <tr><td><h2><a name="ndebates" id="ndebates"></a>Navigating Debates: how to find and organize the debates you care about </h2>
          <h2><a name="fdlist" id="fdlist"></a>Finding a debate from a list </h2>
          <ul>
            <li>
              <p>You can list all the Debate Propositions in the
                system by clicking on the "BROWSE DEBATES" tab in the black bar.</p>
            </li>
            <li>
              <p> These Debates are currently sorted by date, with the
                most recent at the top.</p>
            </li>
            <li>
              <p> You can list the Debate Propositions by category. If
                you mouse over "BROWSE DEBATES" in the black bar, you will see a drop
                down menu and you can select the debate category of your choice.</p>
            </li>
            <li>
              <p> The list of debates shown will only be the debates
                in that chosen category and they will be sorted by date, with the most
                recent on the top.</p>
            </li>
          </ul><p align="center"><a href="#">Top</a></p>
          <h2><a name="mpbmark" id="mpbmark"></a>Using My Page bookmarks</h2>
          <ul>
            <li>
              <p>From "MY PAGE" you can see all arguments you have
                bookmarked, the debates you have started, and all the entries you have
                created. They are sorted by date with the latest entries on the top. </p>
            </li>
          </ul><p align="center"><a href="#">Top</a></p>
          <h2><a name="srch" id="srch"></a>Search </h2>
          <ul>
            <li>
              <p>You can search for any word in the text or title of a
                debate or argument using the search bar in the black band at the top of
                the webpage. </p>
            </li>
            <li>
              <p>These searches are NOT case sensitive.</p>
            </li>
            <li>
              <p>These searches do not, for now, include tags that are entered by the author. </p>
            </li>
          </ul></td></tr><tr><td><p align="center"><a href="#">Top</a></p></td></tr>

      <tr><td>
          <h2><a name="navarguments" id="navarguments"></a>Navigating Arguments </h2>
          <ul>
            <li>
              <p> Each debate consists of arguments, evidence and
                logic. These supporting or negating entries are called arguments.</p>
            </li>
            <li>
              <p> Arguments are structured in hierarchical format,
                like an outline.</p>
            </li>
            <li>
              <p> A first level argument will apply directly to the
                debate proposition. An argument or evidence can then support or negate
                that argument as a second level argument.</p>
            </li>
            <li>
              <p> If you click on a debate, you will see the title of
                the debate in red at the top followed by the debate proposition itself
                and the author's name at the top of the page. </p>
            </li>
            <li>
              <p> You then have the opportunity to add an argument by
                clicking on the green "Add Argument" button.</p>
            </li>
            <li>
              <p> Below the line, you will see a list of arguments
                already entered.</p>
            </li>
            <li>
              <p> If this is a long list, you can control how many
                levels deep you see by clicking on a "Show Level" number.</p>
            </li>
            <li>
              <p> If you click on "1" you will see all the top level
                arguments.</p>
            </li>
            <li>
              <p> You can increase the depth of the arguments you want
                to see by clicking on 2-5 or "All" to see every argument.</p>
            </li>
            <li>
              <p>You can also toggle between "Title Only" and "Full
                Text" for more or less information. </p>
            </li>
            <li>
              <p> To see each sub-argument in depth, click on the
                title. A "Reply to Argument" window opens. </p>
            </li>
            <li>
              <p> Cursor over the Argument and see the argument number
                and the author of the argument.</p>
            </li>
            <li>
              <p> If you hold your cursor over an author's name, you
                will a popup that gives you more detail about the author.</p>
            </li>
            <li>
              <p> You will see the title of the argument along with
                the argument, evidence or logic.</p>
            </li>
            <li>
              <p> To rate the argument, click the "rate" link at the
                bottom left of the box. (<a href="#">see Rating for more details</a>)</p>
            </li>
            <li>
              <p> Open the argument</p>
            </li>
            <li>
              <p> By clicking on the argument, you will open a new
                window.</p>
            </li>
            <li>
              <p> This window lists the title of the argument and a
                link to rate it to the right of the title.</p>
            </li>
            <li>
              <p> The text of the argument itself is in the next line
                followed by the name of the author.</p>
            </li>
            <li>
              <p> Below the gray band, you will see what debate this
                argument is in. This debate is a link that will take you back to the
                debate and list the arguments contained in that debate.</p>
            </li>
            <li>
              <p> You may also see an external link to any supporting
                evidence.</p>
            </li>
            <li>
              <p> You have the opportunity to reply to this argument
                with supporting or negating arguments by clicking the "Reply to this
                argument" orange button as described elsewhere.</p>
            </li>
            <li>
              <p> You can also bookmark this argument by clicking the
                "Bookmark" link under the "Reply to this argument" orange button.</p>
            </li>
            <li>
              <p> Below the next line, you will see all the
                sub-arguments that either support or negate the argument you have
                opened. Each of the sub-arguments can be rated, opened and replied to.</p>
            </li>
            <li>
              <p>When you are done with this window, the "In debate" gives you the title of the debate to which this argument
                belongs. Clicking this link will take you back to the debate. </p>
            </li>
          </ul></td></tr><tr><td><p align="center"><a href="#">Top</a></p></td></tr>

    </tbody>
  </table>


</div>
<div id="content_inner_bottom_bg"></div>
<div id="content_outer_bottom_bg"></div>