<div id="content_top_box" style="margin-bottom:-5px;">
  <p class="page_title">New Support Page</p>
</div>
<div id="content_box">        
        <div style="height:auto;"><%= render :partial => 'support/form' %></div>
      <div class="clear_both"></div>
</div>
<div id="content_inner_bottom_bg"></div>
<div id="content_outer_bottom_bg"></div>
