<div id="content_top_box"><p class="page_title" style="font-size:25px;padding-top:3px;">participate1</p></div>
<div id="content_box" class="post">
  <table>
    <tbody>
      <tr>
        <td>
          <p align="center"> <object width="600" height="385"><param name="movie" value="http://www.youtube.com/v/IWyuNlab4X0&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/IWyuNlab4X0&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="600" height="385"></embed></object>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p align="center" style="font-size: 14px; font-weight: bold;">BestDebates.Com Quality Conversations About Ideas That Matter.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align: justify; padding:0 17px;">Bring your best arguments, pro and con, mainstream and independent to the conversation! Make sure that your best understandings have an impact, and don’t allow mindless talking points to go unanswered.

          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align: justify; padding:0 17px;"><b>BestDebates</b> uses the wisdom of crowds to have the best arguments around any issue rise to the top. With its unique rating algorithms, <b>BestDebates</b> leverages the intelligence of its members to reward good ideas and punish bad ideas. It moves the conversation forward towards greater mutual understanding, so there we can partner together to take truly effective action.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align: justify; padding:0 17px;"><b>BestDebates</b> is a site for people who really care about the underlying issues being discussed. It is for people who are more interested in finding optimal solutions than in being right.
          </p>
        </td>
      </tr>
      <tr>
         <td>
          <p style="text-align: justify; padding:0 17px;">By contributing your intelligence and knowledge to <b>BestDebates</b>, you help improve the quality of the conversation. You can inform people, provide evidence, and link to resources that shed light on the issue. You can address obvious flaws in other’s arguments, so that whenever someone sees the bogus argument, your counter argument is right there for everyone to see. You can rate the Clarity, Accuracy, and Relevence of other’s contributions, to make the best arguments rise to the top. The more you and people like you participate in the conversation, the higher quality and the more definitive the conversation becomes.
          </p>
        </td>      
      </tr>
      <tr>
        <td>
          <p style="text-align: center; font-style: italic;">Bring your voice to the conversation. Add your track to the mix. And, may the best arguments win!
</p>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>
<div id="content_inner_bottom_bg"></div>
<div id="content_outer_bottom_bg"></div>