<div id="content_top_box"><p class="page_title">Principles</p></div>
<div id="content_box" class="post">
  <table>
    <tbody>
      <tr>
        <td>
          <p class="para">The fundamental idea of BestDebates.com is that some arguments are better than others. The more Clarity, Accuracy, and Relevance an argument is judged to have by members of the BestDebates community, the "better" it is, and the higher the Truth/Value "score" it is accorded in our site.
          </p>
        </td>
      </tr>      
      <tr>
        <td>          
          <p><strong><span style="font-size: 14px;">Clarity :</span> </strong> Clarity measures a reader's ability to clearly understand what the argument is arguing. The more clarity, the more precisely users can judge its accuracy and relevance.
          </p>
          <ul>
            <li>
              <p>10-stars = The argument is crystal clear in its meaning.</p>
            </li>
            <li>
              <p>7-stars = The argument is mostly clear,but there'is some ambiguity in meaning.</p>
            </li>
            <li>
              <p>3-stars = The meaning of the argument can be intepreted in multiple conflicting ways.</p>
            </li>
            <li>
              <p>0-stars = The argument is completely vague and ambiguous, making its accuracy and relevance impossible to judge.</p>
            </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>
          <p><strong><span style="font-size: 14px;">Accuracy :</span> </strong> Accuracy measures the reader's best estimate of the factual value of the premise of an argument.
          </p>
          <ul>
            <li>
              <p>10-stars = the premise is a proven fact or certain knowledge based on experience experiment. </p>
            </li>
            <li>
              <p>7-stars = mostly factually true, but it is Sher inaccurately slanted or overstated.</p>
            </li>
            <li>
              <p>3-stars = more false than true, or so slanted, overstated, or misrepresented as to be mostly inaccurate.</p>
            </li>
            <li>
              <p>0-stars = Clearly false, contradicting known facts or certain knowledge.</p>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <p><strong> <span style="font-size: 14px;">Relevance : </span></strong>Relevance measures how well the argument affirms or negates its parent argument.
          </p>
          <ul>
            <li>
              <p>10-stars = The argument. if it were 100% true, would logically mean the parent is 100% true. </p>
            </li>
            <li>
              <p>7-stars = Mostly relevant. if 100 % true, parent's Truth/Value is strongly affirmed.</p>
            </li>
            <li>
              <p>3-stars = Largely irrelevant, if 100% true, parent's Truth/Value is only partially affirmed.</p>
            </li>
            <li>
              <p>0-stars = Completely irrelevant, if 100% true, has zero bearing an parent's Truth/Value.</p>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <p class="para">We encourage each participant to learn these principles thoroughly. The more you understand them, the more you will be able to use them to maximize the Truth/Value of your arguments, the more you will excel in BestDebates.com and play your part in making it the The Definitive Conversation For Knowledge.
          </p>
        </td>
      </tr> 
    </tbody>
  </table>
</div>
<div id="content_inner_bottom_bg"></div>
<div id="content_outer_bottom_bg"></div>